html, body{
    font-family: 'Courier New', Courier, sans-serif;
    background-color: antiquewhite;
    position: relative;
    margin: 0;
    padding: 0;
}

img{
    margin: 0 auto;
}


.container{
    margin-top: 15px;
    border-top: 3px solid;
    border-radius: 10%;
}
img{
    width: 500px;
    height: auto;
    display: block;
}
.voltar{
  position: fixed;
  bottom: 0;
  left: 0;
}

h1{
    position: relative;
    width: max-content;
}

h1::after{
    content: ''; /* Necessário mesmo que vazio para que o efeito after funcione */
    position: absolute; /* faz com que o conteúdo apareça */
    background: linear-gradient(to left, red, blue, purple);
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: 500ms;

}
h1:hover::after{
    width: 0;
}